<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 pug测试数据
        span #{a}
        each val in newsData
            p 姓名是：#{val.name} 年龄是：#{val.age}
        script.
            console.log("test...");